cmake
easydict
numba
opencv-python
matplotlib
scipy
scikit-image
tqdm
PyYAML
open3d
cython
tensorboardX
shapely==2.0.0
einops
timm
cairosvg>=2.7          # SVG->PDF export for figs/ca_tosg_overview.svg (P4-B-e)
